<a href="https://colab.research.google.com/github/AnanyaMadanala/Python/blob/main/Basic_syntax_nd_Datatype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#basic syntax
print("Hello Python")

Hello Python

In [4]:
#indentation
if 31 > 9:
  print("31 is greater than 9!")

31 is greater than 9!

In [5]:
#variable
x=319
print(x)

319

In [19]:
#type of data
x=319
y="Anamya"
z=1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'complex'>

In [20]:
#typecasting
x=str(3)
y=int(3)
z=float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [10]:
#variable name
myvar="J"
my_var="J"
_my_var="J"
myVar="J"
MYVAR="J"
myvar2="J"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

J
J
J
J
J
J

In [11]:
#One Value to Multiple Variables
x=y=z="Anamya"
print(x,y,z)

Anamya Anamya Anamya

In [12]:
#Unpack a Collection
Codelang="C","Java","Python"
Lang=Codelang
print(Codelang)

('C', 'Java', 'Python')

In [16]:
#global variable
x="Awesome"
def my_function():
  print("Coding is " + x)
my_function()

Coding is Awesome

In [21]:
#WAP that declares a variable called age and assigns it the value 25
x=25
print(x)

25

In [24]:
#WAP of addition of two no
x=int(input("Enter any no"))
y=int(input("Enter any no"))
print("Addition is",x+y)

Enter any no31
Enter any no9
Addition is 40

In [25]:
#WAP of defining name is string, height as float, is_student as boolean.Print each variable value its type
name="Anamya"
height=5.4
is_student=True
print(name,type(name))
print(height,type(height))
print(is_student,type(is_student))

Anamya <class 'str'>
5.4 <class 'float'>
True <class 'bool'>

In [27]:
#WAP that converts int to float nd float to int
x=float(31)
y=int(9.0)
print(x)
print(y)

31.0
9

In [29]:
#WAP of taking input from user as string nd convert into integer
n=input("Enter any no")
n=int(n)
print(n)

Enter any no319
319

In [33]:
#WAP that takes user's name as input and prints a greeting message
x="Anamya!"
def my_function():
  print("Hello "+ x)
my_function()

Hello Anamya!