<a href="https://colab.research.google.com/github/AnanyaMadanala/Python/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#creating tuple
# Example of creating a tuple
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [2]:
#acess tuple
my_tuple = (1, 2, 3, 4)
print(my_tuple[0])

1

In [3]:
#slicing tuple
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[1:4])

(2, 3, 4)

In [4]:
#tuple concat
tuple1 = (1, 2)
tuple2 = (3, 4)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4)

In [5]:
#count method
my_tuple = (1, 2, 2, 3, 4, 2)
print(my_tuple.count(2))

3

In [6]:
#indexing
my_tuple = (1, 2, 3, 4)
print(my_tuple.index(3))

2

In [7]:
#tuple packing
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a, b, c)

1 2 3

In [8]:
#iteration
my_tuple = (1, 2, 3, 4)
for item in my_tuple:
    print(item)

1
2
3
4